@import './fontMontserrat.css';
@import './fontInter.css';
@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  /* base */
  --primary: 18 76 191; /* #124CBF */
  --secondary: 20 90 226; /* #145AE2 */

  /* text */
  --content-primary: 17 21 24; /* #111518 */
  --content-secondary: 102 102 102; /* #666666 */
  --content-muted: 102 112 133; /* #667085 */

  /* backgrounds */
  --bg-section: 238 240 246; /* #EEF0F6 */
  --bg-page: 250 251 251; /* #FAFBFB */
  --bg-card: 255 255 255; /* #FFF */

  /* icons */
  --icon: 194 194 194; /* #C2C2C2 */

  /* semantic */
  --success: 30 142 62; /* #1E8E3E */
  --info: 26 115 232; /* #1A73E8 */
  --warning: 240 177 74; /* #F0B14A */
  --alert: 217 48 37; /* #D93025 */

  --info-bg: 232 240 254; /* #E8F0FE */
  --warning-bg: 254 247 224; /* #FEF7E0 */
  --alert-bg: 252 232 230; /* #FCE8E6 */
  --success-bg: 230 244 234; /* #E6F4EA */

  --info-bg-icon: 207 228 255; /* #CFE4FF */
  --warning-bg-icon: 255 224 173; /* #FFE0AD */
  --alert-bg-icon: 251 206 201; /* #FBCEC9 */
  --success-bg-ICON: 150 207 166; /* #96CFA6 */

  /* base bw */
  --white: 255 255 255; /* #FFFFFF */
  --dark: 17 21 24; /* #111518 */

  /* opacity */
  --info: 26 115 232; /* #1A73E8 */
  --warning: 240 177 74; /* #F0B14A */
  --alert: 217 48 37; /* #D93025 */
  /* shadow */
  --shadow-card: 0px 4px 13px 0px rgba(0, 0, 0, 0.07);
  --shadow-hover: 0 4px 13px rgb(var(--primary) / 0.2);
}

.dark {
  /* base */
  --primary: 18 76 191; /* #124CBF */
  --secondary: 20 90 226; /* #145AE2 */

  /* text */
  --content-primary: 252 252 252; /* #FCFCFC */
  --content-secondary: 170 170 170; /* #AAAAAA */
  --content-muted: 188 198 217; /* #BCC6D9 */

  /* backgrounds */
  --bg-section: 39 45 59; /* #272D3B */
  --bg-page: 22 28 40; /* #161C28 */
  --bg-card: 17 21 24; /* #111518 */

  /* icons */
  --icon: 90 90 90; /* #5A5A5A */

  /* semantic */
  --success: 30 142 62; /* #1E8E3E */
  --info: 26 115 232; /* #1A73E8 */
  --warning: 240 177 74; /* #F0B14A */
  --alert: 217 48 37; /* #D93025 */

  /* base bw */
  --white: 255 255 255; /* #FFFFFF */
  --dark: 17 21 24; /* #111518 */

  /* shadow */
  --shadow-card: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 4px 13px rgb(var(--primary) / 0.2);
}

@theme {
  /* colors  */
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));

  --color-content-primary: rgb(var(--content-primary));
  --color-content-secondary: rgb(var(--content-secondary));
  --color-content-muted: rgb(var(--content-muted));

  --color-bg-section: rgb(var(--bg-section));
  --color-bg-page: rgb(var(--bg-page));
  --color-bg-card: rgb(var(--bg-card));

  --color-icon: rgb(var(--icon));

  --color-success: rgb(var(--success));
  --color-info: rgb(var(--info));
  --color-warning: rgb(var(--warning));
  --color-alert: rgb(var(--alert));

  --color-info-bg: rgb(var(--info-bg));
  --color-warning-bg: rgb(var(--warning-bg));
  --color-alert-bg: rgb(var(--alert-bg));
  --color-success-bg: rgb(var(--success-bg));

  --color-info-bg-icon: rgb(var(--info-bg-icon));
  --color-warning-bg-icon: rgb(var(--warning-bg-icon));
  --color-alert-bg-icon: rgb(var(--alert-bg-icon));
  --color-success-bg-icon: rgb(var(--success-bg-icon));

  --color-white: rgb(var(--white));
  --color-dark: rgb(var(--dark));

  --shadow-card: var(--shadow-card);
  --shadow-hover: var(--shadow-hover);

  /* typography */
  --font-mont: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-inter overflow-x-hidden bg-bg-page;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mont;
    color: var(--color-content-primary);
  }

  h1 {
    @apply text-[40px] leading-tight font-extrabold
      sm:text-[60px]
      lg:text-[50px]
      xl:text-[68px];
  }

  h2 {
    @apply text-[32px] leading-tight font-bold
      sm:text-[40px]
      xl:text-[48px];
  }

  h3 {
    @apply text-[24px] leading-tight font-bold
      sm:text-[28px]
      xl:text-[32px];
  }

  h4 {
    @apply text-[18px] leading-tight font-semibold
      xl:text-[20px] xl:leading-[26px];
  }

  p {
    @apply text-[16px] leading-[21px] font-normal text-content-secondary;
  }

  button {
    @apply select-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }
}

@layer components {
  .subtitle {
    @apply text-content-muted text-[18px] leading-[22px] font-medium
      sm:text-[20px] sm:leading-[28px];
  }

  .custom-transition {
    @apply transition-all duration-[450ms] ease-out;
  }
}

@layer utilities {
  .scrollbar-dashboard::-webkit-scrollbar {
    width: 9px;
  }
  .scrollbar-dashboard::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 1px solid var(--color-icon);
    background: var(--color-white);
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
  }
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 90px;
}
